<ion-header>
  <ion-navbar>
    <ion-title>Todo App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="todo" placeholder="Insert todo" type="text"></ion-input>
  </ion-item>

  <button ion-button full (click)="add()">ADD</button>

  <ion-list>
    <ion-item-sliding *ngFor="let t of todos">
      <ion-item>
        {{t}}
      </ion-item>

      <ion-item-options side="left" (ionSwipe)="complete(t)">

      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(t)">
          <ion-icon name="trash"></ion-icon> Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <h3 *ngIf="completedTodo.length > 0">Completed Todos</h3>
  <ion-list>
    <ion-item *ngFor="let t of completedTodo">
      <ion-item>
        {{t}}
      </ion-item>
    </ion-item>
  </ion-list>

</ion-content>
